/**
 * COLORS
 * This file contains colors and styles to be global variables
 * to be included in the main app scss file
 */
$dg_base_hue		: 196;

$dg_blue			: hsl($dg_base_hue, 100%, 28%);
$dg_black			: hsl($dg_base_hue, 11%, 18%);
$dg_gray			: hsl($dg_base_hue, 11%, 45%);
$dg_gray_light		: hsl($dg_base_hue, 14%, 85%);
$dg_eggshell		: hsl($dg_base_hue, 22%, 91%);
$dg_white			: hsl($dg_base_hue, 33%, 97%);

$color_bg 			: $dg_white;
$color_bg_dark		: $dg_black;
$color_accent		: $dg_blue;
$color_text_light	: $dg_white;
$color_hover 		: $dg_eggshell;
$color_text 		: $dg_black;
$color_text_mute 	: $dg_gray_light;