/**
 * EXTENSIONS
 * This file contains utility type mixins and extensions
 * to be included in the main app scss file
 */

@mixin transform($transform) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin card($bgcolor) {
	background-color: $bgcolor;
	transition: 0.3s all;
	cursor: pointer;

	&:hover {
		background-color: darken($bgcolor, 10%);
		box-shadow: 0 2px 5px $color_text_mute;
		@include transform(translateY(-2px));
	}

	&:focus, &:active {
		background-color: darken($bgcolor, 15%);
	}
}