/**
 * EXTENSIONS
 * This file contains utility type mixins and extensions
 * to be included in the main app scss file
 */

.pad-body {
	padding: 50px 0;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}