/**
 * HEADER
 * This file contains styles specific to the header template of the app
 */

nav .header.navbar-inverse {
	height: $header_size;
	color: $color_text_light;
	&, .navbar-collapse, .navbar-form {
		border-color: lighten($color_accent, 5%);
	}
	&, .navbar-collapse {
		background-color: $color_accent;
	}
	.navbar-nav > li.active > a {
		background-color: darken($color_accent, 10%);
	}
	.navbar-nav > li > a, &.navbar > .container .navbar-brand {
		color: $color_text_light;
		font-weight: 400;
		&:hover {
			color: $color_hover;
		}
	}

	&.navbar > .container .navbar-brand {
		@extend .title-case;
		font-size: 1.7em;
	}
}
