/**
 * HEADER
 * This file contains styles specific to the header template of the app
 */
.status {
	border-bottom: 1px solid $color_gray;
	background-color: $color_bg_dark;
	color: $color_text_light;
	max-height: 5em; // More or less...
	p {
		&.shifts {
			float: right;
		}
		&.login {
			float: left;
		}
		line-height: 2em;
		margin-bottom: 0;
		font-size: 0.85em;
	}
}

nav .header.navbar-default {
	height: $nav_size;
	color: $color_text_light;
	background-color: $color_bg;
	&, .navbar-collapse, .navbar-form {
		border-color: $color_gray;
	}
	.navbar-nav > li.active > a {
		background-color: darken($color_bg_light, 15%);
	}

	&.navbar > .container .navbar-brand {
		@extend .title-case;
		font-size: 1.7em;
	}

	ul.search-results {
		display: block;
		background: $color_bg_light;
		padding: 16px;
		border-radius: 0px 0px 5px 5px;
		border: 1px solid $color_gray;
		border-top: none;
		li {
			list-style-type: none;
			&, a {
				color: $color_text_gray;
			}
			a {
				display: block;
				padding: 8px;
				&:hover {
					color: $color_text_gray;
					background-color: darken($color_bg, 5%);
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	nav .header.navbar-inverse {
		.navbar-collapse {
			background-color: $color_bg_light;
		}
		ul.search-results {
			padding: 16px 0 0 0;
			margin-bottom: 0;
		}
	}
}
