/**
 * HOME
 * This file contains styles specific to the home template of the app
 */

div.home-page {
 	margin-top: $header_size;
 	padding: 30px 0;

 	.home-item {
 		&:nth-child(3n) .page-heading-title {
 			background-position: 300px -300px;
 		}
 		&:nth-child(2n) .page-heading-title {
 			background-position: 100px -200px;
 		}
 		&:hover {
 			opacity: 0.85;
 		}
 		a {
 			padding: 25px 60px;
 		}
 		h3 {
 			letter-spacing: 1px;
 			color: $color_text_mute;
 			font-size: 1.4em;
 		}
 	}

 	.welcome {
 		margin-bottom: 30px;
 	}
}

