/**
 * FOOTER
 * This file contains styles specific to the footer template of the app
 */

#footer-component {
 	margin: 0 auto;
 	#copyright {
 		text-transform: uppercase;
 		letter-spacing: 3px;
 		font-size: 0.85em;
 		font-weight: 500;
 		padding: 20px 0 15px 0;
 		background: $color_accent;
 		color: $color_text_mute;
 	}
 }
