/**
 * FOOTER
 * This file contains styles specific to the footer template of the app
 */

 #footer-component {
 	padding-top: 30px;
 	background: $color_bg_dark;
 	color: $color_text;

 	#copyright {
 		text-transform: uppercase;
 		letter-spacing: 2.5px;
 		font-size: 0.8em;
 		padding: 10px 0;
 		background: $color_accent;
 		color: $color_text_light;
 	}
 }
