/**
 * FOOTER
 * This file contains styles specific to the footer template of the app
 */

 #footer-component {
 	#copyright {
 		text-transform: uppercase;
 		letter-spacing: 2px;
 		font-size: 0.85em;
 		padding: 10px 0 5px 0;
 		background: $color_accent;
 		color: $color_text_mute;
 	}
 }
