/**
 * APP
 * This file contains the styles and partial files that run the app
 * itself. Should only be used for global styles across templates
 */

$header_size : 50px;

@import 'views/views';

body {
	color: $color_text;
	background-color: $color_bg;
}

html {
	color: $color_text;
	background-color: $color_accent;
}

.text-muted {
	color: $color_text_mute;
}

h1, h2, h3, h4, h5, h6 {
	color: $color_accent;
}

h1.page-heading-title {
	background: url(http://cs.brown.edu/img/bg.png) no-repeat center center;
	background-size: cover;
	padding: 40px 60px;
	background-color: $color_accent;
	color: $color_text_light;
	font-size: 3.8em;
	line-height: 1em;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: $fontstack_body;
	font-weight: 600;
}

