/**
 * APP
 * This file contains the styles and partial files that run the app
 * itself. Should only be used for global styles across templates
 */

$header_size : 50px;

@import 'views/views';

body {
	color: $color_text;
	background-color: $color_accent;
}

html {
	color: $color_text;
	background-color: $color_accent;
}

.text-muted {
	color: $color_text_mute;
}

h1, h2, h3, h4, h5, h6 {
	color: $color_accent;
}

h1 {
	@extend .title-case;
}

.title-case {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.page-heading-title {
	background: url(http://cs.brown.edu/img/bg.png) no-repeat center center;
	background-size: cover;
	padding: 40px 60px;
	background-color: $color_accent;
	margin-bottom: 20px;
	display: block;
	h1, h2, h3, h4, h5, h6, & {
		color: $color_text_light;
	}
}

@media screen and (max-width: 767px) {
	.page-heading-title {
		font-size: 2em;
		padding: 20px 30px 10px 30px;
	}
}

