/**
 * SCHEDULE
 * This file contains styles specific to the schedule template of the app
 */
div.schedule {
	margin-top: $header_size;
	padding: 30px 0;

	.calendar {
		.day {
			float:left;
			width: 14.2857143%;
		}
		#currTime {
			position: absolute;	
			width: 95%;
			z-index: 10;
			padding-top: 20px;
			hr {
				display: inline-block;
				width: 100%;
				margin: 0;
				margin-top: 17px;
				padding: 0;
				border: 1px solid hsla(200, 100%, 75%, 0.7);
			}
		}
		.today {
			h4 {
				color: lighten($color_accent, 20%);
				font-weight: 700;
				padding-left: 5px;
			}
		}
		.row, .days {
			height: 100%;
		}
		.time-blocks {
			position: relative;
		}
		.legend {
			background: $color_hover;
			padding-top: 40px;
		}
		.legend-block {
			border-top: 2px solid $color_accent;
			margin-bottom: 27px;
			h5 {
				font-size: 0.9em;
				letter-spacing: 0.5px;
				margin-top:5px;
			}
		}
		.time-block {
			padding-left: 10px;
			margin-bottom: 5px;
			position: absolute;
			width: 80%;
			background: $color_accent;
			.time {
				letter-spacing: 0.5px;
				font-size: 0.8em;
				color: $color_text_mute;
			}
			h5 { 
				font-size: 0.9em;
				letter-spacing: 1.5px;
				color: $color_text_light;
			}
			&.subbed {
				h5 {
					color: $color_hover;
				}
				background: darken($color_accent, 5%);
			}
			&.me {
				h5 {
					font-size: 1.1em;
				}
				background: lighten($color_accent, 10%);
			}
		}
	}
}

@media screen and (max-width: 767px) {
	div.schedule {
		margin-top: $header_size/2;
		padding: 0 0 30px 0;
		.calendar {
			height: 600px;
			.day {
				display: inline-block;
				float: none;
				width: 48%;
				margin-right: 2%;
				.time-block {
					position: relative;
					padding-top: 5px;
					padding-bottom: 0;
					margin-top: 0!important;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	div.schedule {
		.calendar .day {
			width: 100%;
			margin-right: 0;
		}
	}
}
