/**
 * SCHEDULE
 * This file contains styles specific to the schedule template of the app
 */

$time_normal: desaturate($color_accent, 10%);
$time_desaturated: lighten(desaturate($color_accent, 70%), 20%);
$time_highlighted: lighten($color_accent, 20%);
$time_current: $color_accent_green;
$time_subbed: $color_accent_red;

div.schedule {
	margin-top: $header_size;
	padding: 30px 0;
	
	.change-week {
		display: inline-block;
		padding-left: 20px;
		cursor: pointer;
		font-size: 1.4em;
		font-weight: 900;
		text-align: right;
		float: right;
		.btn {
			&:focus {
				outline:0;
			}
			padding: 0;
			font-weight: 900;
			text-align: right;
			font-size: 1.0em;
			color: #eee;
			text-decoration: none;
			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
		&.today {
			display: block;
			font-weight: 600;
			font-size: 0.75em;
			letter-spacing: 0;
		}
	}

	.week-of {
		display: block;
		padding-top: 10px;
		font-size: 0.6em;
		color: #ccc;
		color: rgba(255,255,255,0.6);
	}

	.calendar {
		.day {
			float:left;
			width: 14.2857143%;
		}
		#currTime {
			position: absolute;	
			width: 95%;
			z-index: 10;
			padding: 0;
			margin: 0;
			top: 24px;
			hr {
				display: inline-block;
				width: 100%;
				padding: 0;
				margin: 0;
				border: 1px solid hsla(200, 100%, 75%, 0.7);
			}
		}
		.today {
			h4 {
				color: $color_accent_green;
				font-weight: 700;
			}
		}
		.row, .days {
			height: 100%;
		}
		.time-blocks {
			position: relative;
		}
		.legend {
			background: $color_hover;
			padding-top: 40px;
		}
		.legend-block {
			border-top: 2px solid $color_accent;
			margin-bottom: 27px;
			h5 {
				font-size: 0.9em;
				letter-spacing: 0.5px;
				margin-top:5px;
			}
		}
		&.highlighted {
			.time-block {
				background: $time_desaturated !important;
				&.selected {
					background: $time_normal !important;
					&.me {
						background: $time_highlighted !important;
					}
				}
			}
		}
		.time-block {
			-webkit-transform: translate3d(0,0,0);
			cursor: pointer;
			padding-left: 10px;
			margin-bottom: 5px;
			position: absolute;
			width: 80%;
			-webkit-transition: background 0.3s;
			transition: background 0.3s;
			background: $time_normal;
			.time {
				letter-spacing: 0.5px;
				font-size: 0.8em;
				color: $color_text_mute;
			}
			h5 { 
				font-size: 0.9em;
				letter-spacing: 0.5px;
				color: $color_text_light;
			}
			&.me {
				background: $time_highlighted;
			}
			&.subbed {
				background: $time_subbed;
			}
			&.past {
				background: $time_desaturated;
			}
			&.current {
				background: $time_current;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	div.schedule {
		margin-top: $header_size/2;
		padding: 0 0 30px 0;
		.calendar {
			height: auto;
			.day {
				display: inline-block;
				width: 100%;
				.time-block {
					width: 100%;
					position: relative;
					padding-top: 5px;
					padding-bottom: 50px;
					margin-top: 0!important;
				}
			}
		}
		.week-changers {
			padding-top: 30px;
		}

		.change-week {
			display: block;
			text-align: left;
			width: 50%;
			float: left;
			span {
				padding-right: 10px;
			}
			&.today {
				padding-top: 10px;
				font-size: 0.9em;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	div.schedule {
		.calendar .day {
			width: 100%;
			margin-right: 0;
		}
	}
}
