/**
 * SCHEDULE
 * This file contains styles specific to the schedule template of the app
 */

div.schedule {
	margin-top: $header_size;
	padding: 30px 0;

	.calendar {
		height: 500px;
		border: 1px solid $color_text_mute;
		overflow-y: scroll;
		.day {
			float:left;
			width: 14.2857143%;
		}
		.row, .days {
			height: 100%;
		}
		.time-blocks, .legend-blocks {
			position: relative;
		}
		.legend-blocks {
			margin-top: 40px;
		}
		.legend-block {
			position: absolute;
			//background: $color_hover;
			//display:block;
			border-top: 2px solid $color_accent;
			h5 {
				font-size: 0.9em;
				letter-spacing: 0.5px;
				margin-top:5px;
			}
		}
		.time-block {
			padding-left: 10px;
			margin-bottom: 5px;
			position: absolute;
			width: 92%;
			background: $color_accent;
			color: $color_text_light;
			h5 { 
				font-size: 0.9em;
				letter-spacing: 1.5px;
				color: $color_text_light;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	div.schedule {
		margin-top: $header_size/2;
		padding: 0 0 30px 0;
	}
}
