<div class="schedule container" ng-controller="ScheduleCtrl">
	<h1 class="page-heading-title col-xs-12">{{pageTitle}}</h1>	
	<div class="col-xs-12 calendar">
		<div class="row">
			<!-- Legend on left -->
			<div class="col-sm-1 hidden-xs legend">
				<div class="legend-block" 
					ng-repeat="hour in legend" >
					<h5>{{hour.start}}</h5>
				</div>
			</div>

			<!-- Days -->
			<div class="col-sm-11 col-xs-12 days">
				<!-- Shows line at current time -->
				<div class="hidden-xs" id="currTime" 
					ng-style="timeBlockStyle()">
					<hr>
				</div>
				
				<div ng-repeat="day in days" 
					ng-class="{day: true, today: current.day==day.index}" 
					id="{{day.title}}">
					<h4>{{day.title}}</h4>
					<div class="time-blocks">
						<div class="time-block" 
							ng-repeat="(slot,time) in day.slots" 
							ng-style="timeBlockStyle(time)"
							ng-class="{me: time.user==cslogin, subbed: time.subbed!=undefined}"
							ng-hide="time.user == 'CLOSED'"
							tooltip="{{time.start}} to {{time.end}}"
							tooltip-trigger 
							tooltip-animation="true" 
							tooltip-placement="top">
							<h5>{{time.user}}
								<span class="visible-xs hidden-sm hidden-md hidden-lg time"> {{time.start}} - {{time.end}}</span>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
